html,
body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
.a{
    margin-right: 10px;

}



.c {

    margin-left: 20px;
    width: 100%;
}
@media  (max-width: 650px) {
    .r{
        
        width: 100%;
    }
    .c{
        width: 50px !important;
       
    }
    .c a{
     
       font-size: 7px!important;
       

    }
}


.xl {


    height: 27px;
    width: 100%;
}

.author {
    float: right;
}

.card {
    max-width: 50vw !important;

}
.r{
    display: flex;
}