html,
body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}

.a {
    margin-right: 10px;

}



.c {

    margin-left: 20px;
    width: 100%;
}

@media (max-width: 650px) {
    .r {

        width: 100%;
    }

    .c {
        width: 50px !important;

    }

    .c a {

        font-size: 7px !important;


    }

    .card-body p {
        font-size: 25px !important;


    }
}

@media (max-width: 400px) {
    .card-body p {
        font-size: 15px !important;


    }

}



.xl {


    height: 27px;
    width: 100%;
}

.author {
    float: right;
}

.card {
    max-width: 50vw !important;

}

.card-text {
    font-size: 40px !important;


}

.r {
    display: flex;
}

.iconL {
    margin-right: 5px;
    margin-top: -40px;
}

.iconR {
    margin-left: 5px;
    margin-top: 30px;

}

.myclass-enter {
    opacity: 0;
}

.myclass-enter-active {
    opacity: 1;
   
    transition: opacity 5000ms ease-in;

}

.myclass-enter-done {
    opacity: 1;

}

.myclass-exit {
    opacity: 1;
}

.myclass-exit-active {
    opacity: 0;
    transition: opacity 5000ms ease-in;
}

.myclass-enter-done {
    opacity: 1;
}